body {background-color: black;
}
a:hover {
    border-bottom: white 1px solid;
}
.Menu .v {width: 2%;
    height: 2%;
}
.Menu #Com {width: 6%;
    height: 5%;
    position: relative;
    left: 45%;
    top: 1cm;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.Comp .c {
    width: 16%;
    margin: 1.5cm;
    position: relative;
    align-content: center;
    left: 2.6cm;
}

.Comp .d {
    position: relative;
    top: -11.6cm;
    margin: 2cm;
    right: 12cm;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.Comp #q {
    position: relative;
    right: 17cm;
}
.Comp #r {
    position: relative;
    left: -6.9cm;
}
.Comp #t {
    position: relative;
    left: -1.5cm;
}
.Comp .f {
    position: relative;
    margin: 4cm;
    top: -1cm;
    left: 2.9cm;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.Comp #y {
    position: relative;
    left: 4cm;
}

.carousel-inner {
    width: 15%;
    left: 43%;
    top: 1cm;
}